- name: Repos | Github Releases
  ansible.builtin.apt:
    state: present
    update_cache: true
    install_recommends: true
    deb: "https://github.com/{{ item.repo }}/releases/download/v{{ item.version }}/{{ item.package_name }}-{{ item.version }}.deb"
  loop: "{{ standalone_packages }}"

- name: Repos | Cloudflare GPG
  ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/cloudflare-main.gpg
    url: https://pkg.cloudflare.com/cloudflare-main.gpg
    state: present
    validate_certs: true

- name: Repos | Spotify GPG Key
  ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/spotify.gpg
    url: https://download.spotify.com/debian/pubkey_6224F9941A8AA6D1.gpg
    state: present
    validate_certs: true

- name: Repos | Signal GPG Key
  ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/signal.gpg
    url: https://updates.signal.org/desktop/apt/keys.asc
    state: present
    validate_certs: true

- name: Repos | Tailscale GPG Key
  ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/tailscale.gpg
    url: "https://pkgs.tailscale.com/stable/{{ ansible_distribution | lower }}/{{ ansible_distribution_release }}.noarmor.gpg"
    state: present
    validate_certs: true

- name: Repos | Add repositories
  ansible.builtin.apt_repository:
    repo: "{{ item.repo }}"
    state: present
    mode: "0644"
    update_cache: true
    validate_certs: true
    filename: "{{ item.filename }}"
  loop: "{{ apt_repos[ansible_distribution_release] }}"

- name: Repos | PPAs
  ansible.builtin.apt_repository:
    repo: "ppa:{{ item.repo }}"
    state: present
    mode: "0644"
    update_cache: true
    validate_certs: true
    filename: "{{ item.filename }}"
  loop: "{{ ppas }}"

- name: Repos | Install extra packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ extra_packages }}"
