# Load oh-my-zsh library
antigen use oh-my-zsh

# Load bundles from the default repo (oh-my-zsh)
{% for b in zsh_default_bundles %}
antigen bundle {{ b }}
{% endfor %}

# Load bundles from external repos
{% for b in zsh_external_bundles %}
antigen bundle {{ b }}
{% endfor %}

# Select theme
antigen theme denysdovhan/spaceship-prompt

# Tell Antigen that you're done
antigen apply
